body {
    padding: 0 0;
    height: 100%;
}

header {
    text-align: center;
}

.liste_nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10vh;
}

footer {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.bloc_footer_nav, .bloc_footer_media {
    text-align: center;
}

.liste_footer_nav {
    display: flex;
    list-style: none;
    gap: 3vh;
}

.liste_footer_media {
    display: flex;
    list-style: none;
    gap: 3vh;
}


/*----------------------Début du style de la page 'inscription'---------------------------*/
.contenu_index {
    text-align: center;
}

.erreur {
    color: red;
}

/*----------------------Début du style de la page 'connexion'----------------------------*/
.bloc_main_connexion {
    text-align: center;
}

/*----------------------Début du style de la page 'profil'-------------------------------*/

.bloc_main_profil {
    text-align: center;
}

.echo {
    color: rgb(5, 192, 5);
}

/*----------------------Début du style de la page 'commentaire'-------------------------------*/

.bloc_main_commentaire {
    text-align: center;
}

/*----------------------Début du style de la page 'livre-or'-------------------------------*/

.comm_livre {
    text-align: center;
    margin-bottom: 2%;
}

.box_form {
    text-align: center;
}

