body {
    padding: 0 0;
    margin: 0;
    background: white;
}

header {
    padding: 1px;
    text-align: center;
    background: #101820FF;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.titre_index {
    font-family: "Spartan";
    color: #F2AA4CFF;
    font-size: 5vh;
}

.sous_titre_index {
    margin-top: -3vh;
    font-family: "Zen Kaku Gothic New Light";
    color: white;
    padding-bottom: 1vh;
}

nav {
    background: #F2AA4CFF;
}

.liste_nav {
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    gap: 15vh;
}

.liste_nav li {
    background: #101820FF;
    padding: 1vh 4vh;
}

.liste_nav a {     
    text-decoration: none;
    font-family: "Zen Kaku Gothic New Light" ;
    font-size: 17px;
    padding: 1vh 2vh;
    color: white;
    border: 1px solid rgb(138, 138, 138);
}

.liste_nav a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.contenu_index {
    display: flex;
    justify-content: space-around;
}

.titre_contenu_index {
    font-family: "Zen Kaku Gothic New Light";
    font-size: 25px;
}

.cont_comm {

}

.index_comm:nth-child(even){
    background-color: grey;
}

.index_comm {
    display: block;
    flex-direction: column;
    text-align: center;
   
    margin-right: 5vh;
}


@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
    
}

footer {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.bloc_footer_nav, .bloc_footer_media {
    text-align: center;
}

.liste_footer_nav {
    display: flex;
    list-style: none;
    gap: 3vh;
}

.liste_footer_media {
    display: flex;
    list-style: none;
    gap: 3vh;
}


/*----------------------Début du style de la page 'inscription'---------------------------*/

.erreur {
    color: red;
}

/*----------------------Début du style de la page 'connexion'----------------------------*/
.bloc_main_connexion {
    text-align: center;
}

/*----------------------Début du style de la page 'profil'-------------------------------*/

.bloc_main_profil {
    text-align: center;
}

.echo {
    color: rgb(5, 192, 5);
}

/*----------------------Début du style de la page 'commentaire'-------------------------------*/

.bloc_main_commentaire {
    text-align: center;
}

/*----------------------Début du style de la page 'livre-or'-------------------------------*/

.comm_livre {
    text-align: center;
    margin-bottom: 2%;
}

.box_form {
    text-align: center;
}

